SUPABASE_URL=https://swlaxwpzkiakxbetrles.supabase.co
SUPABASE_SECRET_KEY=cole_sua_secret_key_ou_service_role_key_aqui
ADMIN_EMAIL=slade.gibson@gmail.com
ADMIN_PASSWORD=troque-essa-senha
ADMIN_DISPLAY_NAME=Administrador
